[Unit]
Description=Can I Get Up?
After=network.target

[Service]
ExecStart=/home/pi/canigetup
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
